/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --background-color: #0f162d;
    --color-primary-pink: #ca59ff;
    --color-primary-blue: #6c7cff;
    --color-primary-aqua: #2affff;
    --color-primary-yellow: #fff629;

    --color-secondary-white: #ffffff;
    --color-secondary-grey: #272d42;
    --color-secondary-balck: #000000;

    --body-fonts: "DM Sans", "sans serif";

}